@* HTML Section *@
@*<div class="todo">
    <input type="checkbox" @bind="Done"/>
    <span class="@textClass">@Text</span>
</div>*@

<tr class="todo">
    <td> <input class="@rowClass" type="checkbox" @bind="Done" /></td>
    <td> <span class="@textClass">@Text</span></td>
</tr>

@code {
    [Parameter]
    public string Text { get; set; } = "Tarea";

    [Parameter]
    public bool Done { get; set; } = true;

    string textClass => Done ? "done" : null;
    string rowClass => Done ? "table-secondary" : null;
}
 